.bank-logo {
    margin: 0;
    text-align: left;
    max-height: 50px;
    max-width: 120px;
    object-fit: contain;
}

.hide {
    display: none;
}

strong {
    font-weight: bold !important;
}

td {
    width: 50% !important;
}